<h1>Create a new Book</h1>

<form action='/books' method='POST'>
  <input type='text' placeholder='Enter a Title...' name='book[title]' />
  <input type='text' placeholder='Enter a Snippet...' name='book[snippet]' />
  <input type='submit' value="Create Book" />
</form>
